src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jirarest="http://www.mulesoft.org/schema/mule/jirarest" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/jirarest http://www.mulesoft.org/schema/mule/jirarest/current/mule-jirarest.xsd">
    <jirarest:basic-config name="Jira_Rest__Basic_Authentication" username="${jira.username}" password="${jira.password}" serverUrl="${jira.server}" doc:name="Jira Rest: Basic Authentication" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="post:/email:application/json:api-config">
        <dw:transform-message doc:name="Payload transform to Object - flowVar inputData definition">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="inputData"><![CDATA[%dw 1.0
%output application/java
---
{
	recipient: payload.recipient,
	subject: payload.subject,
	message: payload.message,
	priority: payload.priority
}]]></dw:set-variable>
        </dw:transform-message>
        <validation:is-email config-ref="Validation_Configuration" doc:name="Validation" email="#[payload.recipient]" message="Recipient doesn't contain valid email adress." />
        <flow-ref name="handleEMAIL" doc:name="handleEMAIL" />
    </flow>
    <flow name="post:/sms:application/json:api-config">
        <dw:transform-message doc:name="Payload transform to Object - flowVar inputData definition">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="inputData"><![CDATA[%dw 1.0
%output application/java
---
{
	to: payload.recipient,
	body: payload.message
}]]></dw:set-variable>
        </dw:transform-message>
        <validation:all config-ref="Validation_Configuration" doc:name="Validation">
            <validation:validations>
                <validation:matches-regex value="#[flowVars.inputData.to]" regex="^\+?\d{1,}$" message="Recipient doesn't contain valid phone number." />
            </validation:validations>
        </validation:all>
        <flow-ref name="handleSMS" doc:name="handleSMS" />
    </flow>
    <flow name="post:/jira:application/json:api-config">
        <dw:transform-message doc:name="Payload transform to Object">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
            <dw:set-variable variableName="inputData"><![CDATA[%dw 1.0
%output application/java
---
{
	recipient: payload.recipient,
	subject: payload.subject,
	message: payload.message,
	priority: payload.priority
}]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="create-issue" doc:name="create-issue" />
    </flow>
    <flow name="patch:/jira/{id}:api-config">
		 <dw:transform-message doc:name="Payload transform to Object">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>

        </dw:transform-message>
        <flow-ref name="add-assignee" doc:name="add-assignee"/>
    </flow>
    <flow name="get:/jira/{id}:api-config">
        <flow-ref name="get-issue" doc:name="get-issue"/>

    </flow>
     <flow name="get:/updatedIssues:api-config">
        <set-variable variableName="issuetype" value="#[message.inboundProperties.'http.query.params'.issueType]" doc:name="Set Variable issueType"/>
        <flow-ref name="get-updated-issues" doc:name="get-updated-issues"/>
        
    </flow>
    
</mule>
